

.imageContainer {
    position: relative;
}

.imageText {
    position: absolute;
    bottom: 10px; /* Adjust this value to position the text where you want */
    left: 10px; /* Adjust this value to position the text where you want */
    color: white; /* Text color */
    font-size: 16px; /* Text size */
    background-color: rgba(0, 0, 0, 0.5); /* Background color with transparency */
    padding: 5px 10px; /* Padding around the text */
}


.imageSize {
    width: 256px;
    height: 256px;
}
.textSize {
    font-size: 0.8em;
}

